<html>
<head>
    <!--need to make the indicator depend on input variables -->
    <style>
        .map {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: fill;
        }
        
    </style>
</head>
<body>
    <img src='~/Images/export-map-share.png' class="map" />
</body>
@RenderBody()
</html>
